<% provide(:title, 'All users') %>

<!-- <h1>Create a Team</h1>

 <render './shared/team_form' %>


<h3>Teams</h3>

if @teams.any? %>

       <h3></a>(@teams.count %>) Teams</h3>

       <ol class="microposts">

          render @teams %>

       </ol>

     end %>
 -->




<h1>Competitors</h1>

<!-- will_paginate %> -->

<ul class="users">

  <% @users.each do |user| %>

    <%= render user %>

  <% end %>

</ul>

<!-- will_paginate %> -->