<footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          Any questions can be sent to <a href="mailto:ryandorr17@gmail.com?subject=race questions">ryan</a> or <a href="mailto:beth.w.dorr@gmail.com?subject=race questions">beth</a>
        </p>
      </div>
    </div>
  </footer>
